.chessboardContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1.2rem;
  margin-bottom: 1.08rem;
}

.chessboardContainer span {
  padding-top: 1rem;
  font-size: 1.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.chess-board {
  border-spacing: 0;
  border-collapse: collapse;
  cursor: pointer;
}
.chess-board th {
  padding: 0.5em;
}
.chess-board th + th {
  border-bottom: 1px solid #000;
}
.chess-board th:first-child,
.chess-board td:last-child {
  border-right: 1px solid #000;
}
.chess-board tr:last-child td {
  border-bottom: 1px solid;
}
.chess-board th:empty {
  border: none;
}
.chess-board td {
  color: #222;
  width: 4rem;
  height: 4rem;
  text-align: center;
  font-size: 50px;
  line-height: 0;
  padding-bottom: 16px;
  /* border: 1px solid white; */
}
.chess-board .light {
  background: #99e1d9;
  /* background: #222; */
}
.chess-board .dark {
  background: #f0f7f4;
}

.btn {
  position: absolute;
  top: 19.9px;
  left: 70%;
  cursor: pointer;
  width: 150px;
  border: none;
  background-color: #99e1d9;
  color: #222;
  font-weight: bold;
  /* margin-top: 10px; */
  padding: 10px;
  border-radius: 25px;
  /* font-size: 13px; */
}
